–î–æ–º–∞—à–Ω–µ–µ –∑–∞–¥–∞–Ω–∏–µ
–î–ª—è –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è –î–ó –æ–ø—è—Ç—å –∏—Å–ø–æ–ª—å–∑—É–µ–º –¥–∞–Ω–Ω—ã–µ –¢–∏—Ç–∞–Ω–∏–∫–∞

Easy
–í—ã—á–∏—Å–ª–∏—Ç—å –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –≤—ã–∂–∏–≤–∞–Ω–∏—è, –µ—Å–ª–∏ –ø–∞—Å—Å–∞–∂–∏—Ä—É:

–æ—Ç 0 –¥–æ 25 –ª–µ—Ç
–æ—Ç 25 –¥–æ 50 –ª–µ—Ç
–æ—Ç 50 –ª–µ—Ç –∏ —Å—Ç–∞—Ä—à–µ

In [9]:
import pandas as pd
titanic=pd.read_csv("train.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [24]:
def ages(row):
    if row['Age'] < 25:
        return "before_25"
    elif row['Age'] >= 25 and row['Age'] < 50 :
        return "before_50"
    else :
        return "older_than_50"
titanic['ages'] = titanic.apply (lambda row: ages(row), axis=1)
pd.crosstab(index=titanic['ages'], columns=titanic['Survived']).stack()/len(titanic)

ages           Survived
before_25      0           0.179574
               1           0.132435
before_50      0           0.243547
               1           0.162738
older_than_50  0           0.193042
               1           0.088664
dtype: float64

Medium
–í—ã—á–∏—Å–ª–∏—Ç—å —Å –∫–∞–∫–æ–π –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å—é –ø–∞—Å—Å–∞–∂–∏—Ä –∂–µ–Ω—Å–∫–æ–≥–æ –ø–æ–ª–∞, –µ—Å–ª–∏ –∏–∑–≤–µ—Å—Ç–Ω–æ, —á—Ç–æ –æ–Ω –≤—ã–∂–∏–ª (–∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Ç–µ–æ—Ä–µ–º—É –ë–∞–π–µ—Å–∞)/
–ü–æ–¥—Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ—Ä –ø–∞—Å–∞–∂–∏—Ä–æ–≤ –∏ –ø—Ä–æ—Ü–µ–Ω—Ç –∂–µ–Ω—â–∏–Ω
–í—Å–µ–≥–æ 891 –ø–∞—Å—Å–∞–∂–∏—Ä –∏–∑ –∫–æ—Ç–æ—Ä—ã–π—Ö 0.65% –∂–µ–Ω—â–∏–Ω –∏ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–µ–Ω–Ω–æ 0.35% –º—É–∂—á–∏–Ω.–í–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –±—ã—Ç—å –∂–µ–Ω—â–∏–Ω–æ–π —Ä–∞–≤–Ω–æ –∫–∞–∫ –∏ –±—ã—Ç—å –º—É–∂—á–∏–Ω–æ–π =) 0.5
–¢–æ–≥–¥–∞ :
P(SURVIVED=B)=0.38383838
P(female=A)=0.35241302
P(B|A) = SURVIVED/FEMALE
PAB = ((PBA * PA)/PB) * 100

In [25]:
len(titanic)
titanic["Survived"].value_counts(normalize=True) * 100
titanic["Sex"].value_counts(normalize=True) * 100
titanic.pivot_table("Survived",["Sex"])

        Survived
Sex
female  0.742038
male    0.188908

In [26]:
PAB = (( 0.742038*0.35241302)/0.38383838) * 100
print ('–í–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å —Ç–æ–≥–æ, —á—Ç–æ –≤—ã–∂–∏–≤—à–∏–π –ø–∞—Å—Å–∞–∂–∏—Ä - –∂–µ–Ω—â–∏–Ω–∞',PAB,'%')

–í–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å —Ç–æ–≥–æ, —á—Ç–æ –≤—ã–∂–∏–≤—à–∏–π –ø–∞—Å—Å–∞–∂–∏—Ä - –∂–µ–Ω—â–∏–Ω–∞ 68.12863594692121 %

Hard
–ó–∞–∫–æ–Ω —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è –∑–∞–¥–∞–µ—Ç—Å—è —Ñ—É–Ω–∫—Ü–∏–µ–π –ø–ª–æ—Ç–Ω–æ—Å—Ç–∏

ùëì(ùë•)=ùúÜùëí‚àíùúÜùë•,ùë•>0 
ùëì(ùë•)=0,ùë•<=0 
–ù–∞–π—Ç–∏ –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å —Ç–æ–≥–æ, —á—Ç–æ —Å–æ–±—ã—Ç–∏–µ –ø—Ä–æ–∏–∑–æ–π–¥–µ—Ç –ø—Ä–∏  ùë•‚àà[1,2] 
P.S. –≤ scipy –µ—Å—Ç—å —Ñ—É–Ω–∫—Ü–∏—è –¥–ª—è –∏–Ω—Ç–µ–≥—Ä–∏—Ä–æ–≤–∞–Ω–∏—è —Ñ—É–Ω–∫—Ü–∏–∏